table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.recipe-index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 2rem auto;
  border: 1px solid rgb(213, 210, 210);
  padding: 20px;
  box-shadow: 0 0 20px 0 rgb(213, 210, 210);
}

.recipes-index-headline {
  text-align: center;
  margin: 2rem auto;
}

.showcase {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.public-recipe-container {
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
}

.public-recipe {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid rgb(213, 210, 210);
  box-shadow: 0 0 20px 0 rgb(213, 210, 210);
  margin: 2rem auto;
}

.public-recipe-headline {
  text-align: center;
}

.recipe-details {
  border: 1px dashed red;
  width: 70%;
  margin: auto;
}

.recipe-name-show {
  text-align: center;
}

.left-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recipe-description-index {
  max-width: 500px;
}

.right-column {
  border: 1px dashed red;
  max-width: 500px;
}
