table,
th,
td {
  border: 1px solid rgb(197, 190, 190);
  border-collapse: collapse;
  padding: 10px;
}

.recipe-index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 2rem auto;
  border: 1px solid rgb(213, 210, 210);
  padding: 20px;
  box-shadow: 0 0 20px 0 rgb(213, 210, 210);
}

.recipes-index-headline {
  text-align: center;
  margin: 2rem auto;
}

.showcase {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.public-recipe-container {
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
}

.public-recipe {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid rgb(213, 210, 210);
  box-shadow: 0 0 20px 0 rgb(213, 210, 210);
  margin: 2rem auto;
}

.public-recipe-headline {
  text-align: center;
}

.recipe-details {
  width: 70%;
  margin: auto;
}

.recipe-name-show {
  text-align: center;
}

.left-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recipe-description-index {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
}

.right-column {
  max-width: 500px;
}

.ingredient-details {
  width: 70%;
  margin: auto;
}

.recipe-food-table {
  width: 90%;
  margin: auto;
}

.add-ingredients-btn {
  border: 1px dashed rgb(178, 169, 169);
  padding: 5px;
  background-color: rgb(115, 234, 75);
  border-radius: 2px;
  color: black;
  font-size: 14px;
}

.recipe-food-form {
  width: 40%;
  margin: 2rem auto;
  border: 1px solid rgb(213, 210, 210);
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgb(213, 210, 210);
  padding: 20px;
}

.number-field {
  width: 50px;
  height: 20px;
  margin-bottom: 20px;
}

.select-food-id-form {
  margin: 0 0 20px 0;
  border-bottom: 1px solid rgb(238, 236, 236);
}

.add-new-recipe-header {
  text-align: center;
}
